:root {
  --light-color-1: #fff;
  --light-color-2: grey;

  background-color: var(--light-color-2);
}

.container {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.book {
  border-radius: 7px;
  background-color: var(--light-color-1);
  text-align: center;
}